# Backend
backend/target/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/

# Original Java project
Terminal-Based Speedcubing Trainer/bin/
Terminal-Based Speedcubing Trainer/.vscode/

# General
*.class
.DS_Store
